/* J'ai envie de crever */
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}

h1{
    margin: 0px;
    padding: 0px;
}
.titre1  {
	width:100%;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}

#foot{
    color: white;
    background-color: black;
    height: 50px;
    float: left;
    width: 100%;
    margin-top: 100%;
    margin: 0px;
    
}
#menu1{
    height: 832px;
    background-color: green;
    width: 100%;
    position: relative;
}
p 
{
    margin:0px;
}