/* J'ai envie de crever */
body{
    margin: 0px;
    padding: 0px;
    width: 1905px;
    height: 920px;
    background-color: blue;
}

.header  {
width: 100%;
margin: 0px;
height: 10%;
padding: 0px;
position: top;
background-color: lightblue;
}
#corp{
    width: 100%;
    height: 80%;
    position: relative;
}
#bloc{
    background-color: red;
    width: 20%;
    height: 33%;
    position: absolute;
    float: right;
    right: 00%;
    top: 0%;
}

#menu1{
    height: 100%;
    background-color: green;
    width: 90%;
    float: right;
}
table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 30px;
    letter-spacing: 1px;
    color: greenyellow;
}
th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
}

#tableau2{
position: relative;
top: -261px;
left: 320px;
color: blue;
}

#tableau3{
    position: relative;
    top: -521px;
    left: 640px;
    color: greenyellow;

}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
  color: red;
}
#menu2{
    height: 50%;
    background-color: pink;
    width: 10%;
    float: left;

}
#menu3{
    height: 50%;
    background-color: yellow;
    width: 10%;
    float: left;
}

#footer{
    color: white;
    background-color: black;
    position: right;
    width: 100%;
    height: 10%;
    margin: 0px;
}

#texte1
{
    width: 77%;
    color: blue;
    font-size: 20px;
}

#color{
width: 77%;
color: red;
font-size: 30px;

}

#color2{
    width: 77%;
    color: blue;
    font-size: 20px;
}

p 
{
    margin:0px;
   
}
h1{
    margin: 0px;
    background-color: lightblue;
}